@model IEnumerable<SitePessoalMasMelhor.Models.SobreMim>


@{
    ViewData["Title"] = "Index";
}
<div class="page-content">
    <section id="blog" class="content-section">
        <div class="section-heading">
            <h1>Sobre mim</h1>
        </div>
        <table class="table" style="background-color:beige">
            
            <tbody>
                <tr>
                    <td>
                        <h4>O meu nome é Bernardo Sousa, tenho 21 anos e sou da Guarda. Passei os últimos 3 anos em coimbra em Licenciatura de Engenharia Eletrotécnica que não cheguei a terminar. Tenho alguma experiência em programação C++ e bastante interesse em aprender mais sobre várias linguagens de programação.</h4>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>