@model SitePessoalMasMelhor.Models.FormAcademica

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>FormAcademica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Instituição" class="control-label"></label>
                <input asp-for="Instituição" class="form-control" />
                <span asp-validation-for="Instituição" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duração" class="control-label"></label>
                <input asp-for="Duração" class="form-control" />
                <span asp-validation-for="Duração" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDeConclusão" class="control-label"></label>
                <input asp-for="DataDeConclusão" class="form-control" />
                <span asp-validation-for="DataDeConclusão" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
